<?xml version="1.0"?>
<connectionStrings>
  <!-- Used for user account maintenance -->
  <add name="DefaultConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=SeleniumDemo;Integrated Security=True" providerName="System.Data.SqlClient" />
  <!-- Used for application data -->
  <add name="SeleniumDemoDataContext" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=SeleniumDemo;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
